# Projeto para trabalhar API do TCE
## url: https://api-dados-abertos.tce.ce.gov.br/municipios?nome_municipio=fortaleza

In [1]:
import pandas as pd
import requests as rq

In [2]:
base_url = "https://api-dados-abertos.tce.ce.gov.br"

In [9]:
municipio = "fortaleza"
resp = rq.get(f"{base_url}/municipios?nome_municipio={municipio}")
if resp.status_code == 200: municipios = resp.json()

In [10]:
print(municipios['data'])

[{'codigo_municipio': '057', 'nome_municipio': 'FORTALEZA', 'geoibgeId': '2304400', 'geonamesId': '3399415'}]

In [11]:
dt = pd.DataFrame(municipios['data'])

In [12]:
dt.head()

  codigo_municipio nome_municipio geoibgeId geonamesId
0              057      FORTALEZA   2304400    3399415

## Unidades gestoras

In [13]:
codigo_municipio = "057"
exercicio_orcamento = "202500"

resp = rq.get(f"{base_url}/unidades_gestoras?codigo_municipio={codigo_municipio}&exercicio_orcamento={exercicio_orcamento}")
if resp.status_code == 200: unidades_gestoras = resp.json()

In [14]:
dt_unidades = pd.DataFrame(unidades_gestoras['data'])

In [15]:
dt_unidades.head()

,codigo_municipio,exercicio_orcamento,codigo_unidade_gestora,data_referencia,nome_unidade_gestora,data_criacao,data_extincao,numero_lei_criacao
0,057,202500,2,202501,HOSPITAL DISTRITAL EVANDRO AYRES DE MOURA ...,2025-01-01T03:00:00.000Z,None,0000/00
1,057,202500,3,202501,HOSPITAL DISTRITAL MARIA JOSE BARROSO DE OLIV...,2025-01-01T03:00:00.000Z,None,0000/00
2,057,202500,4,202501,HOSPITAL DISTRITAL GONZAGA MOTA/MESSEJANA ...,2025-01-01T03:00:00.000Z,None,0000/00
3,057,202500,5,202501,HOSPITAL DISTRITAL GONZAGA MOTA/BARRA DO CEARA...,2025-01-01T03:00:00.000Z,None,0000/00
4,057,202500,6,202501,HOSPITAL DISTRITAL GONZAGA MOTA/JOSE WALTER ...,2025-01-01T03:00:00.000Z,None,0000/00

In [16]:
dt_unidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   codigo_municipio        78 non-null     object
 1   exercicio_orcamento     78 non-null     int64
 2   codigo_unidade_gestora  78 non-null     int64
 3   data_referencia         78 non-null     int64
 4   nome_unidade_gestora    78 non-null     object
 5   data_criacao            78 non-null     object
 6   data_extincao           0 non-null      object
 7   numero_lei_criacao      78 non-null     object
dtypes: int64(3), object(5)
memory usage: 5.0+ KB