# Groupby

O método groupby permite agrupar linhas de dados em conjunto e chamar funções agregadas

In [24]:
import pandas as pd
# Cria um DataFrame
data = {'Classe':['Júnior','Júnior','Pleno','Pleno','Sênior','Sênior'],
       'Nome':['Jorge','Carlos','Roberta','Patrícia','Bruno','Vera'],
       'Venda':[200,120,340,124,243,350],
       'Empresa': ['FB', 'GOOG', 'FB', 'FB', 'MSFT', 'MSFT']}

In [25]:
df = pd.DataFrame(data)

In [26]:
df

   Classe      Nome  Venda Empresa
0  Júnior     Jorge    200      FB
1  Júnior    Carlos    120    GOOG
2   Pleno   Roberta    340      FB
3   Pleno  Patrícia    124      FB
4  Sênior     Bruno    243    MSFT
5  Sênior      Vera    350    MSFT

** Agora, você pode usar o método .group by () para agrupar as linhas em conjunto com base em um nome de coluna. Por exemplo, vamos agrupar com base na empresa. Isso criará um objeto DataFrameGroupBy:**

In [28]:
por_classe = df.groupby('Classe')

E, em seguida, chamar métodos agregados do objeto:

In [40]:
por_classe['Venda'].sum().reset_index()

   Classe  Venda
0  Júnior    320
1   Pleno    464
2  Sênior    593

In [ ]:
df.groupby('Empresa').mean()

Mais exemplos de métodos agregados:

In [ ]:
por_companhia.std()

In [ ]:
por_companhia.min()

In [ ]:
por_companhia.max()

In [ ]:
por_companhia.count()

In [ ]:
por_companhia.describe()

In [ ]:
por_companhia.describe().transpose()

In [ ]:
por_companhia.describe().transpose()['GOOG']